html, body {
  width: 100%;
  height: 100%;
  background: url("../images/gorge2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#pledge_info {
  display: none; }

#video {
  text-align: center; }

.accordion-inner {
  background-color: white; }

.clear {
  background-color: transparent; }

.header {
  color: black;
  font-size: 45px;
  text-align: center;
  background-color: transparent;
  padding: 10px 0px 30px 0px; }

.hidden {
  display: none; }

.question {
  font-weight: bold; }

.hero-background {
  opacity: 0.85;
  background-color: white; }

.answer {
  padding-left: 2%; }

#pledge_amount {
  font-size: 16px; }
