html, body
  width: 100%
  height: 100%
  background: url("../images/gorge2.jpg") no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

#pledge_info
  display: none

.accordion-inner
  background-color: white

.clear
  background-color: transparent

.header
  color: #000000
  font-size: 64px
  text-align: center
  background-color: transparent
  padding-bottom: 20px

.hidden
  display: none

.question
  font-weight: bold

.hero-background
  opacity: 0.85
  background-color: white

.answer
  padding-left: 2%

.pledge-ammount
  float: right
  font-size: 20px
